- price ||= 35
- desc  ||= 'The Book'

form action="/purchases" method="POST"
  script [
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key=ENV['STRIPE_PUBLIC']
    data-name="Build Your Own Sinatra"
    data-description=desc
    data-amount="#{price * 100}"
    data-email=""
    data-label="Buy now for $#{price}"]
