- price ||= 35

- if signed_in?
  - desc  ||= 'The Book'

  form action="/purchases" method="POST"
    script [
      src="https://checkout.stripe.com/checkout.js"
      class="stripe-button"
      data-key=ENV['STRIPE_PUBLIC']
      data-name="Build Your Own Sinatra"
      data-description=desc
      data-amount="#{price * 100}"
      data-email=current_user.email
      data-label="Buy now for $#{price}"]

- else

  a.buy-button href='/login-with-github-then-buy' Buy now for $#{price}
